.holder {
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
            
}
.item1 {
	margin: 0px;
    background-color: red;
    color: black;
    text-align: center;
    padding: 10px;
	
}
.item2 {
    margin: 0px;
    background-color: blue;
    color: black;
    text-align: center;
    padding: 10px;
	
}
.item3 {
    margin: 0px;
    background-color: green;
    color: black;
    text-align: center;
    padding: 10px;
	
}